<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651115965785-tb0q3bht3p13n5ooi1jmrdnfuui1k846.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651115965785-tb0q3bht3p13n5ooi1jmrdnfuui1k846</string>
	<key>API_KEY</key>
	<string>AIzaSyAOSxcDFzfH3NJ5XQ0S-5VtAToIYWSHiJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>651115965785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.potasyyum.quisKebangsaan</string>
	<key>PROJECT_ID</key>
	<string>quis-kebangsaan</string>
	<key>STORAGE_BUCKET</key>
	<string>quis-kebangsaan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651115965785:ios:338d164120afadfc2c3048</string>
	<key>DATABASE_URL</key>
	<string>https://quis-kebangsaan-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>